<channels>
<channel>
<name>[B]Seja Bem Vindo Ao PTV - Bezerra [/B]</name>
<thumbnail></thumbnail>
<externallink>https://</externallink>
<fanart></fanart>
<info>


Addon em beta</info>
</channel>
</channels>

<channels>
<channel>
<name>[B][COLOR blue]Canais de rede aberta[/COLOR][/B]</name>
<thumbnail></thumbnail>
<externallink>https://</externallink>
<fanart></fanart>
<info>


O sinal aberto ou free-to-air (FTA) é uma forma utilizada para se referir ao sinal de televisão e rádio que não foi criptografado. Normalmente o sinal é transmitido via satélite, mas existem algumas emissoras que transmitem o sinal nas bandas VHF ou UHF.</info>
</channel>
</channels>

<channels>
<channel>
<name>[B][COLOR rede]Canais de rede Fechada[/COLOR][/B]</name>
<thumbnail></thumbnail>
<externallink>https://</externallink>
<fanart></fanart>
<info>


canais fechados são canais transmitidos pelas empresas de TV por assinatura.</info>
</channel>
</channels>
