<control type="textbox" id="2">
   <description>My first text box control</description>
   <left>80</left>
   <top>60</top>
   <width>250</width>
   <height>200</height>
   <visible>true</visible>
   <colordiffuse>FFFFFFFF</colordiffuse>
   <font>font13</font>
   <monofont>mono30</monofont>
   <textcolor>FFFFFFFF</textcolor>
   <pulseonselect></pulseonselect>
   <pagecontrol>13</pagecontrol>
   <scrolltime>200</scrolltime>
   <autoscroll delay="3000" time="1000" repeat="10000">!Control.HasFocus(13)</autoscroll>
   <label>Text to display goes here [CR] next line...</label>
   <align>center</align>
</control>


<channels>
<channel>
<name>[B]Seja Bem Vindo Ao PTV - Bezerra [/B]</name>
<thumbnail></thumbnail>
<externallink>https://</externallink>
<fanart></fanart>
<info>


Addon em beta</info>
</channel>
</channels>
